*{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	box-sizing: border-box;
}
.container{
	width: 100%;
	background-position: right;
	background-image: url(assets/BMW-red.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px 8%;
	transition: background-image 0.3s;
}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .logo{
	width: 160px;
	cursor: pointer;
}
nav .btn{
	text-decoration: none;
	color: #fff;
	background: #333;
	padding: 15px 50px;
	border-radius: 30px;
}
.content{
	margin-top: 10%;
}
.content h2{
	color: red;
	font-size: 34px;
}
.content h1{
	font-size: 100px;
	color: #222;
	/*margin-top: -25px;*/
}
.content p{
	max-width: 380px;
	font-weight: 500;
	font-size: 14px;
	color: #555;
}
.content h3{
	margin-top: 30px;
	font-weight: 600;
	font-size: 24px;
}
.colour-select div{
	background: #333;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}
.colour-select{
	display: flex;
	margin-top: 30px;
}
.colour-select #red{
	background: red;
}
.colour-select #blue{
	background: blue;
}

.colour-select #black{
	background: black;
}

@media screen and (max-width: 1200px) {
	.container h1{
		font-size: 65px;
    	margin-bottom: 30px;
		height: 730px;				
	}
	.content p{
		font-size: 22px;
		margin: auto;
		min-width: fit-content;
	}
	.content{
		text-align: center;
	}
	.btn{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
	}
	 .colour-select{
		display: inline-flex;
	 }
	#bike{
		height: auto;
	 }
  }

@media screen and (max-width: 600px) {
	.container h1{
		font-size: 50px;
    	margin-top: 10px;
    	margin-bottom: 30px;
		height: 400px;				
	}
	.content p{
		font-size: 20px;
		margin: auto;
	}
	.content{
		text-align: center;
	}
	.btn{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
	}
	 .colour-select{
		display: inline-flex;
	 }
	#bike{
		height: auto;
	 }
  }

@media screen and (max-width: 400px) {
	.container h1{
		font-size: 50px;
    	margin-top: 10px;
    	margin-bottom: 30px;
		height: 250px;				
	}
	.content p{
		font-size: 25px;
	}
	.content{
		text-align: center;
	}
	.btn{
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
	}
	 .colour-select{
		display: inline-flex;
	 }
	#bike{
		height: 600px;
	 }
  }

